.tab > a {
  margin: 0;
  float: left;
  text-decoration: none;
  background-color: mediumseagreen;
  padding: 5px;
  font-size: 20px;
  color: white;
}
.tab > a.hover, .tab > a.active {
  background-color: mediumaquamarine;
}
.tab {
  margin: 0;
  color: white;
}
body {
  background-color: dodgerblue;
  margin: 0;
}
.content, .content > * {
  margin: auto;
}
