.tab > a {
  margin: 0;
  text-decoration: none;
  background-color: mediumseagreen;
  padding: 0px;
  font-size: 20px;
}
.tab > a.hover {
  background-color: mediumaquamarine;
}
.tab {
  margin: 0;
  float: left;
  color: white;
}
body {
  background-color: dodgerblue;
}
